.container-fluid {
  margin-right: 50px;
  margin-left: 50px;
}

.nav-item a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
.nav-item a:hover {
  color: #09ffb9;
}
i {
  color: #fff;
}
i:hover {
  color: #09ffb9;
}
