.container {
  //   background-color: rgba(68, 64, 64, 0.144);
}

img {
  width: 400px;
  height: 450px;
}

.row {
  height: 100vh;
  margin: 20px;
}

h3 {
  font-size: 50px;
  color: #fff;
}

button {
  margin-bottom: 20px;
}

.text-details {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}
